ul {
  list-style-type: none;
}

.main-content {
  margin-top: 120px;
}

.footer {
  min-height: 260px;
}

.card {
  min-height: 260px;
}

.card-form {
  min-height: 0;
}

.card-link-container {
  position: absolute;
  bottom: 1.5rem;
}

.card-body {
  padding-bottom: 4rem;
}

.card-body-form {
  padding-bottom: 1.5rem;
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 500px) {
  .list-title {
    display: block;
    margin-bottom: 1.5rem;
  }
}

