<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Create new item for {{ restaurant.name }}</title>
  </head>
  <body>
    <h1>Create new menu item for {{ restaurant.name }}</h1>
    <form action={{ url_for('editMenuItem', restaurant_id=restaurant.id,
      menu_id=item.id) }} method="POST">
      <label> Name:
        <input type="text" name="name" value="{{ item.name }}" />
      </label>
      <label> Price:
        <input type="text" name="price" value="{{ item.price }}" />
      </label>
      <label> Description:
        <input type="text" name="description" value="{{ item.description
        }}" />
      </label>
      <label> Course:
        <input type="text" name="course" value="{{ item.course }}" />
      </label>
      <input type="submit" value="UPDATE">
    </form>
  </body>
</html>
