{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% block title %}
    Create new item for {{ restaurant.name }}
  {% endblock %}
{% endblock %}
{% block nav %}
  <li class="nav-item">
    <a class="nav-link" href={{ url_for('allRestaurants') }}>
      all restaurants
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href={{ url_for('restaurantMenu',
      restaurant_id=restaurant.id) }}>
      {{ restaurant.name }}'s menu
    </a>
  </li>
{% endblock %}
{% block mainContent %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card mb-4">
      <form class="card-body card-body-form" action={{ url_for('editMenuItem', restaurant_id=restaurant.id,
      menu_id=item.id) }} method="POST">
        <h5 class="card-title">Edit {{ item.name }} </h5>
        <h6 class="card-subtitle text-muted mb-4">for {{ restaurant.name }}</h6>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="name" value="{{
          item.name }}">
          <div class="input-group-append">
            <span class="input-group-text">
              Name
            </span>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="name" value="{{
          item.price }}">
          <div class="input-group-append">
            <span class="input-group-text">
              Price
            </span>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="name" value="{{
          item.description }}">
          <div class="input-group-append">
            <span class="input-group-text">
              Description
            </span>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="name" value="{{
          item.course }}">
          <div class="input-group-append">
            <span class="input-group-text">
              Course
            </span>
          </div>
        </div>
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="CREATE">
      </form>
    </div>
    <a class="btn btn-outline-secondary btn-lg btn-block" href={{ url_for('restaurantMenu',
      restaurant_id=restaurant.id) }}>
      CANCEL
    </a>
  </div>
</div>
{% endblock %}
