<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ restaurant.name + " menu items" }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <nav class="row">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href={{ url_for('allRestaurants') }}>
              restaurants
            </a>
          </li>
        </ul>
      </nav>
      <section class="row">
        <h1>{{ restaurant.name }}</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
          <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      <section>
      <section class="row">
        <button type="button" class="btn btn-outline-primary btn-lg btn-block
                              mb-4 mt-2"
                              onclick="window.location='{{
                                       url_for('newMenuItem',
                                                restaurant_id=restaurant.id) 
                              }}'">
          new menu item
        </button>
        {% for item in menuItems %}
         <div class="card col-12 mb-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ item.description }}</h6>
            <p class="card-text">{{ item.price }}</p>
            <a class="card-link btn btn-outline-secondary" href={{ url_for('editMenuItem', restaurant_id=restaurant.id,
              menu_id=item.id) }}>
              edit
            </a>
            <a class="card-link btn btn-outline-secondary" href={{ url_for('deleteMenuItem', restaurant_id=restaurant.id,
              menu_id=item.id) }}>
              delete
            </a>
          </div>
         </div>
        {% endfor %}
      </section>
    </div>
  </body>
</html>
