<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Create new item for {{ restaurant.name }}</title>
  </head>
  <body>
    <h1>Create new menu item for {{ restaurant.name }}</h1>
    <form action={{ url_for('newMenuItem', restaurant_id=restaurant.id) }} method="POST">
      <label> Name:
        <input type="text" name="name" value="" />
      </label>
      <label> Price:
        <input type="text" name="price" value="" />
      </label>
      <label> Description:
        <input type="text" name="description" value="" />
      </label>
      <label> Course:
        <input type="text" name="course" value="" />
      </label>
      <input type="submit" value="CREATE">
    </form>
  </body>
</html>
