{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% block title %}
    Create a new restaurant
  {% endblock %}
{% endblock %}
{% block mainContent %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card card-form mb-4">
      <form class="card-body card-body-form" action={{ url_for('newRestaurant') }} method="POST">
        <h5 class="card-title">Create a new restaurant </h5>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="name">
          <div class="input-group-append">
            <span class="input-group-text">
              Name
            </span>
          </div>
        </div>
        <input class="btn btn-primary btn-lg btn-block" type="submit"
        value="CREATE">
      </form>
    </div>
    <a class="btn btn-outline-secondary btn-lg btn-block" href={{
      url_for('allRestaurants') }}>
      CANCEL
    </a>
  </div>
</div>
{% endblock %}
