{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% block title %}
    Your restaurants
  {% endblock %}
{% endblock %}
{% block mainContent %}
<section class="row">
  <div class="col-12 mb-3">
    <h1>Your restaurants</h1>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
  {% for message in messages %}
    <li class="alert alert-success"><strong>{{message}}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</section>
<section class="row">
  <div class="col-lg-5">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block mb-4 mt-2"
                          onclick="window.location='{{ url_for('newRestaurant') }}'">
      create new restaurant
    </button>
  </div>
</section>
<section class="row">
  <div class="col-lg-12">
    <div class="list-group">
      {% for restaurant in restaurants %}
      <a class="list-group-item list-group-item-action" href={{ url_for('restaurantMenu', restaurant_id=restaurant.id) }}>
        {{ restaurant.name }}'s menu items
        <span class="btn btn-outline-secondary btn-sm float-right">delete</span>
        <span class="btn btn-outline-primary btn-sm float-right mr-3">edit</span>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
