{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% block title %}
    Your restaurants
  {% endblock %}
{% endblock %}
{% block mainContent %}
<section class="row">
  <header class="col-12 mb-3">
    <h1>Your restaurants</h1>
  </header>
</section>
<section class="row">
  <div class="list-group col-lg-12">
    {% for restaurant in restaurants %}
    <a class="list-group-item list-group-item-action" href={{ url_for('restaurantMenu', restaurant_id=restaurant.id) }}>
      {{ restaurant.name }}'s menu items
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
