{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% block title %}
    {{ restaurant.name + " menu items" }}
  {% endblock %}
{% endblock %}
{% block mainContent %}
<section class="row">
  <div class="col-12 mb-3">
    <h1>{{ restaurant.name }}</h1>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
  {% for message in messages %}
    <li class="alert alert-success"><strong>{{message}}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</section>
<section class="justify-content-center">
  <div class="row">
    <div class="col-lg-5">
      <button type="button"
              class="btn btn-outline-primary btn-lg btn-block mb-4 mt-2"
              onclick="window.location='{{ url_for('restaurant_menu.newMenuItem', restaurant_id=restaurant.id) }}'">
        create new menu item
      </button>
    </div>
  </div>
  <div class="row">
    {% for item in menuItems %}
    <div class="col-sm-6 mb-4">
     <div class="card card-menu box-shadow">
       <div class="card-img-top menu-item-image"
            style="background-image:url({{ url_for('api.image_file',
                  filename=item.image) }}); min-height:260px;"
            alt="image">
       </div>
      <div class="card-body card-body-menu">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text mb-3 card-menu-description">
            {{ item.description }}
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a class="card-link btn btn-outline-secondary" href={{
               url_for('restaurant_menu.editMenuItem', restaurant_id=restaurant.id,
              menu_id=item.id) }}>
              edit
            </a>
            <a class="card-link btn btn-outline-secondary" href={{
               url_for('restaurant_menu.deleteMenuItem', restaurant_id=restaurant.id,
              menu_id=item.id) }}>
              delete
            </a>
          </div>
          <span class="">{{ item.price }}</span>
        </div>
      </div>
     </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
