{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% block title %}
    {{ restaurant.name + " menu items" }}
  {% endblock %}
{% endblock %}
{% block mainContent %}
<section class="row">
  <div class="col-12 mb-3">
    <h1>{{ restaurant.name }}</h1>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
  {% for message in messages %}
    <li class="alert alert-success"><strong>{{message}}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</section>
<section class="justify-content-center">
  <div class="row">
    {% for item in menuItems %}
    <div class="col-sm-6 mb-4">
     <div class="card card-menu box-shadow">
       <div class="card-img-top menu-item-image"
            style="background-image:url({{ url_for('api.image_file',
                  filename=item.image) }}); min-height:260px;"
            alt="image">
       </div>
      <div class="card-body card-body-menu">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text mb-3 card-menu-description">
            {{ item.description }}
        </p>
        <span class="">{{ item.price }}</span>
        </div>
      </div>
     </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
